- if enrolment.errors.any?
  = render 'shared/errors', model: enrolment
= form.collection_check_boxes :student_ids, students, :id, :full_name do |student|
  .form-check
    %label.form-check-label
      = student.check_box class: 'form-check-input'
      = student.text
