.row
  .col
    .form-group
      = f.text_field :name, placeholder: 'Name', class: 'form-control'

.row
  .col
    = bootstrap_md_editor f, :description
.row
  .col-md-3
    .form-group
      = f.date_field :due_date, class: 'form-control'
  .col
    .form-group
      %label.custom-file
        = f.file_field :document, class: 'custom-file-input'
        %span.custom-file-control
