.row
  .col
    = form_for course_assignment_path(@course, @assignment) do |form|
      .card
        .card-header
          %h4= _('New Assignment')
        .card-body
          = render 'assignments/form', form: form
        .card-footer
          = form.submit class: 'float-right btn btn-primary'
