.row
  .col
    = form_for course_assignment_path(@course, @assignment) do |f|
      .card
        .card-header
          %h4= _('New Assignment')
        .card-body
          = render 'assignments/form', form: f
        .card-footer
          = f.submit class: 'float-right btn btn-primary'
