- breadcrumb :assignment, @assignment
.row
  .col
    .card
      .card-header
        - if policy(@assignment).edit?
          = link_to [@course, @assignment], class: 'btn btn-success float-right' do
            = icon('edit')
            Edit Assignment
        %h3= @assignment.name
      .card-body
        = render_description @assignment.description
