- breadcrumb :new_user
.row
  .col
    = form_for @user do |form|
      .card
        .card-header
          %h3= _('Create User')
        .card-body
          = render 'users/form', form: form, user: @user
        .card-footer
          = form.submit class: 'btn btn-primary float-right'
