= form_for @user do |f|
  .card
    .card-header
      %h3 Create User
    .card-body
      = render 'users/form', f: f
    .card-footer
      = f.submit 'Create', class: 'btn btn-primary float-right'
