.row
  .col
    .alert.alert-danger{ role: 'alert' }
      %ul.fa-ul
        - model.errors.full_messages.each do |message|
          %li
            = icon('exclamation-circle', class: 'fa-li')
            = message
