.row
  .col
    .alert.alert-danger{ role: 'alert' }
      %ul.fa-ul
        - model.errors.full_messages.each do |message|
          %li
            %span.fa-li
              %i.fas.fa-exclamation-circle
            = message
