- flash.each do |type, message|
  %div.alert.alert-dismissable.fade.show{ role: 'alert', class: class_for(type) }
    %button.close{ data: { dismiss: 'alert' } }
      %i.far.fa-window-close
    = message
