= form_for @course do |f|
  .card
    .card-header
      %h4 Edit Course
    .card-body
      = render 'courses/form', f: f, i: @instructors
    .card-footer
      = f.submit class: 'btn btn-primary float-right'
