/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

$color-one: #593481;
$color-two: #D08D87;
$color-three: #160D41;
$color-four: #8388BE;
$color-five: #5557A4;

.background {
  background-image: url(asset-path('background'));
  background-size: cover;
}

html, body {
  height: 100%;
}

.admin-navbar-color {
  background-color: $color-three;
}

.student-navbar-color {
  background-color: $color-four;
}
